<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Album Gallery</h1>
          <% if current_user %>
            <div align="right">
              <%= link_to "Add New Album", new_album_path, class: "btn btn-info" %>
            </div>
            <% end %>
      </div>
      <br>
    </div>
    <%= render "album" %>
  </div>
    <hr>
</div>
