
  <hr>
  <br>
    <% @album.images.each do |image| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <%= image_tag image.avatar_url(:thumb).to_s,size: "400x200" , :class => "img-responsive" %>
          <b><%= image.name %></b>
          <% if current_user == @album.user %>
            <%= link_to "Delete",  [image.album, image], method: :delete, data: {confirm:"Are you sure that you wish to delete #{image.name}?"},class: "btn btn-danger" %>
            <%= link_to "Edit", edit_album_image_path(image.album,image), class: "btn btn-success" , method: "get" %>
          <% end %>
      </div>
    <% end %>
